[submodule "robotois-modules/robotois-sound-sensor"]
	path = robotois-modules/robotois-sound-sensor
	url = https://github.com/Robotois/robotois-sound-sensor.git
[submodule "robotois-modules/robotois-temp-hum"]
	path = robotois-modules/robotois-temp-hum
	url = https://github.com/Robotois/robotois-temp-hum.git
[submodule "robotois-modules/robotois-distance-sensor"]
	path = robotois-modules/robotois-distance-sensor
	url = https://github.com/Robotois/robotois-distance-sensor.git
[submodule "robotois-modules/robotois-button"]
	path = robotois-modules/robotois-button
	url = https://github.com/Robotois/robotois-button.git
[submodule "robotois-modules/robotois-led"]
	path = robotois-modules/robotois-led
	url = https://github.com/Robotois/robotois-led.git
[submodule "robotois-modules/robotois-temperature-sensor"]
	path = robotois-modules/robotois-temperature-sensor
	url = https://github.com/Robotois/robotois-temperature-sensor.git
[submodule "robotois-modules/robotois-rgb-leds"]
	path = robotois-modules/robotois-rgb-leds
	url = https://github.com/Robotois/robotois-rgb-leds.git
[submodule "robotois-modules/robotois-lcd-display"]
	path = robotois-modules/robotois-lcd-display
	url = https://github.com/Robotois/robotois-lcd-display.git
[submodule "robotois-modules/robotois-relay"]
	path = robotois-modules/robotois-relay
	url = https://github.com/Robotois/robotois-relay.git
[submodule "robotois-modules/robotois-motion-sensor"]
	path = robotois-modules/robotois-motion-sensor
	url = https://github.com/Robotois/robotois-motion-sensor.git
[submodule "robotois-modules/robotois-light-sensor"]
	path = robotois-modules/robotois-light-sensor
	url = https://github.com/Robotois/robotois-light-sensor.git
[submodule "robotois-modules/robotois-rotary-sensor"]
	path = robotois-modules/robotois-rotary-sensor
	url = https://github.com/Robotois/robotois-rotary-sensor.git
[submodule "robotois-modules/robotois-servo-controller"]
	path = robotois-modules/robotois-servo-controller
	url = https://github.com/Robotois/robotois-servo-controller.git
[submodule "robotois-modules/robotois-motor-controller"]
	path = robotois-modules/robotois-motor-controller
	url = https://github.com/Robotois/robotois-motor-controller.git
